.Palette {
}

.Palette__header {
}

.Palette__header > h1 {
}

.Palette__section + .Palette__section {
}

.Palette__section__header {
}

.Palette__section__header > h2 {
}

.Palette__code {
}

.Palette__code__token--cyan {
}
.Palette__code__token--purple {
}
.Palette__code__token--white {
}
.Palette__code__token--green {
}
.Palette__code__copy-icon {
}

.Palette__search-input {
}

.Palette__search-input:focus {
}

.Palette__search-input::placeholder {
}

.icon-gallery {
}

.icon-gallery__box {
}

.icon-gallery__box:hover,
.icon-gallery__box:focus {
}

.icon-gallery__box--clicked {
}

.icon-gallery__box__label {
}

.icon-gallery__box__content {
}

.icon-gallery__box__icons-container {
}

.icon-gallery__box__icon-wrapper {
}

.icon-gallery__box__icon-text {
}

.icon-gallery__box__icon-text + .icon-gallery__box__icon-text {
}

.icon-gallery__box__icon-text > svg {
}

.toast-container {
}

.toast {
  position: relative;
  min-height: initial !important;
  padding: 0.66rem 2rem 0.66rem 1.66rem !important;
  font-weight: bold;
}

.toast > button {
  position: absolute;
  top: 0.66rem;
  right: 0.66rem;
}

.toast__check {
  font-size: 1.5rem;
  color: #1bd985;
  text-shadow: 1px 1px 1px #555;
  vertical-align: middle;
  padding-right: 0.33rem;
}

.toast__code {
  color: #df4576;
}

.toast__code__bracket {
  color: #2f8d68;
}
