.Palette {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.icon-box {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.icon-box__icons-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  margin-bottom: 1rem;
}

.icon-box__label {
  text-align: center;
}
